.caixa {
    background: goldenrod;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: flex;
    justify-content: flex-end;
    height: 450px;
    width: 650px;
    border: solid;

}

.container input {
    padding: 5px;
    width: 20vw;
    border-radius: 6px;
    border: 2px black solid;
    font-size: 15px;
    display: flex;
}

.container input:focus {
    outline: none;
    border-bottom: 2px solid goldenrod;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 2vh;
}

.lado-esquerda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 31vh;
    width: 50%;
}

.lado-direita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 31vh;
    width: 50%;
}





body{
    margin: 0;
    
}
.geral{
    background: red;
width: 100%;
height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: whitesmoke;
    color: brown;
    font-size: 12pt;
    box-shadow: 0px 10px 40px goldenrod;
    outline: none;
    box-sizing: border-box;
}
.text > span {
    color: black;
    margin-bottom: 10px;
    
}
